# Entornos virtuales
venv/
env/
*/env/
*/venv/
.env
.venv
ENV/
env.bak/
venv.bak/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo
.DS_Store
Thumbs.db
# Simulation Outputs & Analysis Scripts
*.csv
*.png
*.pth
*.graphml
analyze_metrics.py